<div class="container">
  <div class="title-index text-center">
    <h3>Houses  <%= "in " + @location if @location  %></h3>
  </div>

  <div id="map" class="wrapper" style="width: 100%; height: 380px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(1000);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>

  <% unless @location.nil? %>

    <h4>Du <%= @arrival_date %> au <%= @departure_date %> </h4>
    <h4>Pour <%= @nb_cats <= 1 ? "#{@nb_cats} chat" : "#{@nb_cats} chats" %></h4>
    <h4>Search for : <%= @location %></h4>
  <% end %>
  <div class="row">
    <div class="col-xs-12 form">
      <%= form_tag houses_path, method: :get, class: 'form-inline' do |f| %>
        <div class='input-group col-xs-3'>
          <%= text_field_tag 'location', @location  , placeholder: 'Where?', class: 'form-control input-lg' %>
        </div>
        <div class='input-group col-xs-3'>
          <%= text_field_tag 'arrival_date', Date.today, placeholder: 'Checkin', onfocus: "(this.type='date')", onblur: "(this.type='text')", class: 'form-control input-lg' %>
        </div>
        <div class='input-group col-xs-3'>
          <%= text_field_tag 'departure_date', Date.today + 1, placeholder: 'Checkout', onfocus: "(this.type='date')", onblur: "(this.type='text')", class: 'form-control input-lg' %>
        </div>
        <%= select_tag 'nb_cats', options_for_select((1..3).to_a, "MasterCard"), class: 'form-control input-lg' %>
        <%= image_tag "cat.png", class: 'cat-logo' %>
        <%= submit_tag 'Search', class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @houses.each do |house| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path house.photo.url(:photo_card) %>');">
          <div class="card-category"><%= house.name %></div>
          <div class="card-description">
            <h2><%= house.name %></h2>
            <p><%= house.address %></p>
          </div>
          <%= cl_image_tag house.cat.profile_picture.url(:profile), class:"card-user avatar avatar-large" %>
          <%= link_to "", house_path(house), class: "card-link" %>
        </div>
      </div>
    <% end %>
  <div class="row">
<!--     <%= render 'map' %> -->
  </div>
</div>
