<ul>
  <% @houses.each do |house| %>
    <li>
      <%= link_to house_path(house) do %>
      <%= house.name %>
      <%= house.address %>
      <%= house.kind %>
      <%= house.capacity %>
      <%= house.price %>
      <% end %>
    </li>
  <% end %>
</ul>
