<p>
  <strong>Name:</strong>
  <%= @house.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @house.kind %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @house.capacity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<%= link_to 'Back', houses_path %>
