<div class="banner-show" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @house.photo %>');">
</div>

<h1><%= @house.name %></h1>

<ul>

  <li><strong>Address:</strong> <%= @house.address %></li>
  <li><strong>Kind:</strong> <%= @house.kind %></li>
  <li><strong>Capacity:</strong> <%= @house.capacity %></li>
  <li><strong>Price:</strong> <%= @house.price %></li>
  <li><strong>Catnip:</strong> <%= @house.catnip %></li>
  <li><strong>Description:</strong> <%= @house.description %></li>
</ul>

<%= link_to 'Back', houses_path %>





