<div class="banner-show" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @house.photo %>');"></div>

<div class="container">
  <div class="row">
    <div class="presentation">
        <div class="container-presentation col-xs-9">
          <div class="presentation-appart">
            <div class="house">
              <h1><%= @house.name.capitalize %></h1>
              <%= @house.address %>
            </div>
            <div class="owner">
              <%= cl_image_tag @house.cat.profile_picture.url(:profile) %>
              <div class="owner-name"><p><%= @house.cat.name.capitalize  %></p></div>
            </div>
          </div>
          <hr>
          <div class="about">
            <h2>About this house</h2>
            <h3>Description</h3>
            <p><%= @house.description %></p>
            <hr>
            <h3>House</h3>
            <ul>
              <li><i class="fa fa-home" aria-hidden="true"></i><strong>Kind:</strong> <%= @house.kind %></li>
              <li><i class="fa fa-bed" aria-hidden="true"></i><strong>Capacity:</strong> <%= @house.capacity %></li>
              <li><i class="fa fa-pagelines" aria-hidden="true"></i><strong>Catnip:</strong> <%= @house.catnip ? "Yes" : "No" %></li>
            </ul>
            <h3>Price</h3>
            <p><%= @house.price %>€ / Nuit </p>
          </div>
        </div>
      <div class="form-resa col-xs-3">
        <div class="resa text-center">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
  <div id="map" class="wrapper" style="width: 100%; height: 380px;"></div>

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>
  <div class="text-center">
    <%= link_to 'Back to search', houses_path, class: "btn btn-primary back-btn" %>
  </div>
</div>




