<h1>Owner new house</h1>
<%= simple_form_for(@house) do |f| %>
  <%= f.input :name, placeholder: Faker::Address.city %>
  <%= f.input :address, placeholder: Faker::Address.street_address %>
  <%= f.input :kind %>
  <%= f.input :capacity %>
  <%= f.input :price %>
  <%= f.input :catnip %>
  <%= f.input :description %>
  <%= f.input :photo %>
  <%= f.submit %>
<% end %>
