<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= path_to_image "background.jpg" %>');">
  <div class="banner-content">
    <h1>CATBNB</h1>
    <p>Renting a place as a cat has never been easier.</p>
    <%= simple_form_for @house, html: { class: "form-inline" } do |f| %>
      <div class='input-group col-xs-3'>
        <input placeholder="Where?" class="form-control input-lg" type="text">
      </div>
      <div class='input-group col-xs-3'>
        <input placeholder="Checkin" class="form-control input-lg" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
      </div>
      <div class='input-group col-xs-3'>
          <input placeholder="Checkout" class="form-control input-lg" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
      </div>
      <select name="" id="" class="form-control input-lg">
        <option value="1">1 cat</option>
        <option value="2">2 cats</option>
        <option value="3">3 cats</option>
      </select>
      <%= link_to 'Search', houses_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
<div class="wrapper-grey padded">
  <div class="container">
    <h3>Houses</h3>
    <div class="row">
      <% @houses.each do |house| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('<%= path_to_image "background.jpg" %>');">
          <div class="card-category"><%= house.name %></div>
          <div class="card-description">
            <h2><%= house.name %></h2>
            <p><%= house.address %></p>
          </div>
          <%= image_tag "logo.png", class:"card-user avatar avatar-large" %>
          <%= link_to "#", houses_path, class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
