<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= path_to_image "background.jpg" %>');">
  <div class="banner-content">
    <h1>CATBNB</h1>
    <p>Renting a place as a cat has never been easier.</p>
    <%= form_tag houses_path, method: :get, class: 'form-inline' do |f| %>
      <div class='input-group col-xs-3'>
        <%= text_field_tag 'location', nil, placeholder: 'Where?', class: 'form-control input-lg' %>
      </div>
      <div class='input-group col-xs-3'>
        <%= text_field_tag 'arrival_date', Date.today, placeholder: 'Checkin', onfocus: "(this.type='date')", onblur: "(this.type='text')", class: 'form-control input-lg' %>
      </div>
      <div class='input-group col-xs-3'>
        <%= text_field_tag 'departure_date', Date.today + 1, placeholder: 'Checkout', onfocus: "(this.type='date')", onblur: "(this.type='text')", class: 'form-control input-lg' %>
      </div>
      <%= select_tag 'nb_cats', options_for_select((1..3).to_a, "MasterCard"), class: 'form-control input-lg' %>
      <%= image_tag "cat.png", class: 'cat-logo' %>

      <%= submit_tag 'Search', class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
<div class="wrapper-grey padded">
  <div class="container">
    <h3>Houses</h3>
    <div class="row">
      <% @houses.each do |house| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path house.photo.url(:photo_card) %>');">
          <div class="card-category"><%= house.name %></div>
          <div class="card-description">
            <h2><%= house.name %></h2>
            <p><%= house.address %></p>
          </div>
          <%= image_tag "logo.png", class:"card-user avatar avatar-large" %>
          <%= link_to "#", houses_path, class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
