<div class="container">
  <h1>Book a place</h1>
  <h2>
    Hi <%= current_cat.name %>! Here is a summary of your booking. Confirm the following and book nicely !
  </h2>
  <p>You can confirm details here to finalize reservation</p>
  <div class="row">
    <div class="col-xs-8">
      <%= simple_form_for [@house, @reservation] do |f| %>
        <%= f.input :arrival_date #, as: :hidden %>
        <%= f.input :departure_date #, as: :hidden %>
        <%= f.input :price #, as: :hidden %>
        <%= f.input :nb_cats #, as: :hidden %>
        <%= f.submit "confirm reservation", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-xs-4">
      <ul>
        <li>Price per night: <%= @house.price %>€</li>
        <li>Duration of your stay: <%= @nb_nights %> nights.</li>
        <li>Service costs : <%= @service_costs %>€</li>
        <li>Total price = <%= @price %>€</li>
      </ul>
    </div>
  </div>
</div>
